.transaction-history{
    margin-left: auto;
    margin-right: auto;
    /* background-color: bisque; */
    
        width: 300px;
        border-collapse: collapse;
       
    }
    TD, TH {
     padding: 20px 40px;
     border: 1px solid black;
    }
    TH {
     background: lightskyblue;
    }
    TR:nth-child(even) {
        background: lightcyan;
     }