

.Profile {
  margin: auto;
  text-align: center;
  width: 400px;
  height: 600px;
  background-color: bisque;
}

.description {
  padding-top: 60px;
}
.avatar1 {
  background-color: cornflowerblue;
  border-radius: 50%;
  height: 20vmin;
  pointer-events: none;
}

.name {
  font-size: 24px;
  font-weight: bold;
  color: rgb(19, 18, 18);
}
.tag,
.location,
.label {
  color: lightseagreen;
}
.stats {
  padding: 0px;
  display: inline-flex;
  background-color: lightslategray;
}
.stats li {
  padding: 40px;
  display: grid;
  border: 2px solid lightgrey;
}
